In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Imports for decision tree visualization
import pydotplus
from IPython.display import Image

In [5]:
# Read in the Dataset
file_path = Path("Resources/reimbursement_data.csv")
reimburse_df = pd.read_csv(file_path)
reimburse_df.head()

,Resolution,Manufacturer Rejection Code,Days to resolve,Adjustment Amount,DC,DC City,DM Create Date,DM ID #,Manufacturer ID,Manufacturer Name,...,Product Name,Customer ID,Customer Group,Customer Group ID,days from order to invoice,Units Sold,Reimbursement Amount,Contract Lead,Contract ID,Chrgbk Doc #
0,Write Off,YY,12,-$184.10,8182,W.Sacramento,10/1/2020,1275GTVASM,26107,Supplier 9,...,Drug # 11,730048,Customer Group 9,184,61,-1,-$184.10,40019,661468-1,2896083484
1,Write Off,KK,19,-$131.88,8148,Duluth,10/1/2020,1275GAKNAL,564,Supplier 1,...,Drug # 2,155260,Customer Group 2,202,51,-1,-$131.88,785477,800227,2895901196
2,Write Off,TT,14,-$52.40,8149,Memphis,10/1/2020,1275GAKNMD,564,Supplier 1,...,Drug # 1,528125,Customer Group 1,227,98,-1,-$68.51,474335,800227,2895873878
3,Resubmit,A2,7,-$38.64,8126,McCalla,10/1/2020,1275GVRTBI,49012,Supplier 17,...,Drug # 49,504084,Customer Group 4,386,388,-1,-$38.64,586439,VD2CLRS118,2896465786
4,Write Off,A2,134,-$36.00,8165,Oklahoma City,10/1/2020,1275GPIIOC,35367,Supplier 7,...,Drug # 9,467382,Customer Group 1,227,416,-4,-$36.00,474335,C22878-1,2896018433

In [ ]:
# Specify features